<div class="bg-image" id="home-image" scroll ng-class="{min:boolChangeClass}">
    <div ng-include src="'views/partials/header.html'"></div>
    <div class="hidden-xs container text-left welcome-text">
        <h4 class="text-custom-2" style="text-decoration:none!important;"><small style="color:#000">In houses(mosques) which</small> ALLAH <small style="color:#000">has ordered to be raised, <br/>in them His Name is remembered. Therein glorify Him in <br/> the mornings and in the evenings<br/>[Noble QURAN Surah NUR 24:36]</small></h4>
    </div>
</div>
<div class="container">
    <div class="row descriptive-text">
        <div class="col-xs-12 col-sm-4 text-custom-1 word-spacing-custom-5">
            <h4><i class="glyphicon glyphicon-calendar glyphicon-custom-color"></i> Discover Events</h4>
            <p>Get notified of all the events happening at your nearest masjid whether it is a conference or a daily reminder</p>
        </div>
        <div class="col-xs-12 col-sm-4 text-custom-1 word-spacing-custom-5">
            <h4><i class="glyphicon glyphicon-globe glyphicon-custom-color"></i> Get a free website</h4>
            <p>A free customizable website for masjid with all the exciting features on our domain which would help you to reach out to the community</p>
        </div>
    </div>
</div>