<html>
<head></head>
<body>
<div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward1" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_0"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward1_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_0" alt="John Hastings" title="John Hastings" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_0" class="TrusteeNameLink" href="/Ward1">John Hastings</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_0" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_0">Ward 1</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_0">Etobicoke North</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_0">416-397-3071</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_0" href="mailto:john.hastings@tdsb.on.ca">john.hastings@tdsb.on.ca</a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_0" alt="John Hastings High Resolution Photos" title="John Hastings High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward1_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward2" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_1"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward2_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_1" alt="Chris Glover" title="Chris Glover" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_1" class="TrusteeNameLink" href="/Ward2">Chris Glover</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_1" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_1">Ward 2</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_1">Etobicoke Centre </span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_1">416-397-3106</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_1" href="mailto:chris.glover@tdsb.on.ca">chris.glover@tdsb.on.ca</a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_1" alt="Chris Glover High Resolution Photos" title="Chris Glover High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward2_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        <br id="dnn_ctr1346_ViewTrustees_rptTrustees_breakControl_1" style="clear:both"></br>
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward3" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_2"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward3_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_2" alt="Pamela Gough" title="Pamela Gough" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_2" class="TrusteeNameLink" href="/Ward3">Pamela Gough</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_2" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_2">Ward 3</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_2">Etobicoke-Lakeshore</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_2">416-393-1972</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_2" href="mailto:pamela.gough@tdsb.on.ca%20">pamela.gough@tdsb.on.ca </a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_2" alt="Pamela Gough High Resolution Photos" title="Pamela Gough High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward3_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward4" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_3"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward4_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_3" alt="Stephnie Payne" title="Stephnie Payne" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_3" class="TrusteeNameLink" href="/Ward4">Stephnie Payne</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_3" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_3">Ward 4</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_3">York West</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_3">416-397-2441</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_3" href="mailto:stephnie.payne@tdsb.on.ca%20">stephnie.payne@tdsb.on.ca </a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_3" alt="Stephnie Payne High Resolution Photos" title="Stephnie Payne High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward4_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        <br id="dnn_ctr1346_ViewTrustees_rptTrustees_breakControl_3" style="clear:both"></br>
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward5" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_4"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward5_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_4" alt="Howard Kaplan" title="Howard Kaplan" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_4" class="TrusteeNameLink" href="/Ward5">Howard Kaplan</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_4" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_4">Ward 5</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_4">York Centre</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_4">416-395-8406</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_4" href="mailto:howard.kaplan@tdsb.on.ca">howard.kaplan@tdsb.on.ca</a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_4" alt="Howard Kaplan High Resolution Photos" title="Howard Kaplan High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward5_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward6" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_5"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward6_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_5" alt="Chris Tonks" title="Chris Tonks" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_5" class="TrusteeNameLink" href="/Ward6">Chris Tonks</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_5" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_5">Ward 6</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_5">York South-Weston</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_5">416-397-3098</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_5" href="mailto:chris.tonks@tdsb.on.ca">chris.tonks@tdsb.on.ca</a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_5" alt="Chris Tonks High Resolution Photos" title="Chris Tonks High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward6_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        <br id="dnn_ctr1346_ViewTrustees_rptTrustees_breakControl_5" style="clear:both"></br>
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward7" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_6"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward7_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_6" alt="Irene Atkinson" title="Irene Atkinson" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_6" class="TrusteeNameLink" href="/Ward7">Irene Atkinson</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_6" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_6">Ward 7</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_6">Parkdale-High Park</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_6">416-397-3091</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_6" href="mailto:irene.atkinson@tdsb.on.ca">irene.atkinson@tdsb.on.ca</a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_6" alt="Irene Atkinson High Resolution Photos" title="Irene Atkinson High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward7_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward8" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_7"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward8_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_7" alt="Howard Goodman" title="Howard Goodman" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_7" class="TrusteeNameLink" href="/Ward8">Howard Goodman</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_7" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_7">Ward 8</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_7">Eglinton-Lawrence</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_7">416-395-8403</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_7" href="mailto:howard.goodman@tdsb.on.ca%20">howard.goodman@tdsb.on.ca </a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_7" alt="Howard Goodman High Resolution Photos" title="Howard Goodman High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward8_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        <br id="dnn_ctr1346_ViewTrustees_rptTrustees_breakControl_7" style="clear:both"></br>
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward9" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_8"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward9_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_8" alt="Maria Rodrigues" title="Maria Rodrigues" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_8" class="TrusteeNameLink" href="/Ward9">Maria Rodrigues</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_8" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_8">Ward 9</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_8">Davenport</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_8">416-397-3069</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_8" href="mailto:maria.rodrigues@tdsb.on.ca">maria.rodrigues@tdsb.on.ca</a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_8" alt="Maria Rodrigues High Resolution Photos" title="Maria Rodrigues High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward9_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward10" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_9"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward10_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_9" alt="Chris Bolton" title="Chris Bolton" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_9" class="TrusteeNameLink" href="/Ward10">Chris Bolton</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_9" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_9">Ward 10</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_9">Trinity - Spadina</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_9">416-397-3100</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_9" href="mailto:chris@chrisbolton.ca%20">chris@chrisbolton.ca </a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_9" alt="Chris Bolton High Resolution Photos" title="Chris Bolton High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward10_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        <br id="dnn_ctr1346_ViewTrustees_rptTrustees_breakControl_9" style="clear:both"></br>
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward11" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_10"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward11_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_10" alt="Shelley Laskin" title="Shelley Laskin" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_10" class="TrusteeNameLink" href="/Ward11">Shelley Laskin</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_10" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_10">Ward 11</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_10">St. Paul's</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_10">416-397-3094</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_10" href="mailto:shelley.laskin@tdsb.on.ca">shelley.laskin@tdsb.on.ca</a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_10" alt="Shelley Laskin High Resolution Photos" title="Shelley Laskin High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward11_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward12" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_11"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward12_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_11" alt="Mari Rutka" title="Mari Rutka" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_11" class="TrusteeNameLink" href="/Ward12">Mari Rutka</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_11" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_11">Ward 12</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_11">Willowdale</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_11">416-395-8411</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_11" href="mailto:mari.rutka@tdsb.on.ca%20">mari.rutka@tdsb.on.ca </a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_11" alt="Mari Rutka High Resolution Photos" title="Mari Rutka High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward12_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        <br id="dnn_ctr1346_ViewTrustees_rptTrustees_breakControl_11" style="clear:both"></br>
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward13" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_12"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward13_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_12" alt="Gerri Gershon" title="Gerri Gershon" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_12" class="TrusteeNameLink" href="/Ward13">Gerri Gershon</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_12" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_12">Ward 13</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_12">Don Valley West</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_12">416-395-8408</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_12" href="mailto:gerri.gershon@tdsb.on.ca">gerri.gershon@tdsb.on.ca</a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_12" alt="Gerri Gershon High Resolution Photos" title="Gerri Gershon High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward13_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward14" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_13"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward14_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_13" alt="Sheila Ward" title="Sheila Ward" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_13" class="TrusteeNameLink" href="/Ward14">Sheila Ward</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_13" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_13">Ward 14</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_13">Toronto Centre-Rosedale</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_13">416-397-3028</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_13" href="mailto:sheila.ward@tdsb.on.ca%20">sheila.ward@tdsb.on.ca </a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_13" alt="Sheila Ward High Resolution Photos" title="Sheila Ward High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward14_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        <br id="dnn_ctr1346_ViewTrustees_rptTrustees_breakControl_13" style="clear:both"></br>
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward15" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_14"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward15_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_14" alt="Cathy Dandy" title="Cathy Dandy" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_14" class="TrusteeNameLink" href="/Ward15">Cathy Dandy</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_14" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_14">Ward 15</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_14">Toronto-Danforth</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_14">416-397-3083</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_14" href="mailto:cathy.dandy@tdsb.on.ca%20">cathy.dandy@tdsb.on.ca </a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_14" alt="Cathy Dandy High Resolution Photos" title="Cathy Dandy High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward15_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward16" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_15"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward16_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_15" alt="Sheila Cary-Meagher" title="Sheila Cary-Meagher" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_15" class="TrusteeNameLink" href="/Ward16">Sheila Cary-Meagher</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_15" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_15">Ward 16</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_15">Beaches-East York</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_15">416-395-8413</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_15" href="mailto:sheila.cary-meagher@tdsb.on.ca%20">sheila.cary-meagher@tdsb.on.ca </a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_15" alt="Sheila Cary-Meagher High Resolution Photos" title="Sheila Cary-Meagher High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward16_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        <br id="dnn_ctr1346_ViewTrustees_rptTrustees_breakControl_15" style="clear:both"></br>
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward17" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_16"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward17_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_16" alt="Harout Manougian" title="Harout Manougian" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_16" class="TrusteeNameLink" href="/Ward17">Harout Manougian</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_16" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_16">Ward 17</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_16">Don Valley East</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_16">416-397-3086</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_16" href="mailto:harout.manougian@tdsb.on.ca">harout.manougian@tdsb.on.ca</a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_16" alt="Harout Manougian High Resolution Photos" title="Harout Manougian High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward17_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward18" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_17"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward18_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_17" alt="Elizabeth Moyer" title="Elizabeth Moyer" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_17" class="TrusteeNameLink" href="/Ward18">Elizabeth Moyer</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_17" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_17">Ward 18</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_17">Scarborough Southwest</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_17">416-393-8815</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_17" href="mailto:elizabeth.moyer@tdsb.on.ca">elizabeth.moyer@tdsb.on.ca</a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_17" alt="Elizabeth Moyer High Resolution Photos" title="Elizabeth Moyer High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward18_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        <br id="dnn_ctr1346_ViewTrustees_rptTrustees_breakControl_17" style="clear:both"></br>
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward19" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_18"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward19_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_18" alt="David Smith" title="David Smith" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_18" class="TrusteeNameLink" href="/Ward19">David Smith</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_18" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_18">Ward 19</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_18">Scarborough Centre</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_18">416-397-3104</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_18" href="mailto:david.smith4@tdsb.on.ca">david.smith4@tdsb.on.ca</a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_18" alt="David Smith High Resolution Photos" title="David Smith High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward19_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward20" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_19"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward20_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_19" alt="Sam Sotiropoulos" title="Sam Sotiropoulos" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_19" class="TrusteeNameLink" href="/Ward20">Sam Sotiropoulos</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_19" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_19">Ward 20</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_19">Scarborough-Agincourt</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_19">416-397-3066</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_19" href="mailto:sam.sotiropoulos@tdsb.on.ca">sam.sotiropoulos@tdsb.on.ca</a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_19" alt="Sam Sotiropoulos High Resolution Photos" title="Sam Sotiropoulos High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward20_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        <br id="dnn_ctr1346_ViewTrustees_rptTrustees_breakControl_19" style="clear:both"></br>
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward21" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_20"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward21_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_20" alt="Shaun Chen" title="Shaun Chen" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_20" class="TrusteeNameLink" href="/Ward21">Shaun Chen</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_20" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_20">Ward 21</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_20">Scarborough-Rouge River</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_20">416-397-3077</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_20" href="mailto:shaun.chen@tdsb.on.ca%20">shaun.chen@tdsb.on.ca </a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_20" alt="Shaun Chen High Resolution Photos" title="Shaun Chen High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward21_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/Ward22" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_21"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward22_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_21" alt="Jerry Chadwick" title="Jerry Chadwick" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_21" class="TrusteeNameLink" href="/Ward22">Jerry Chadwick</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                <div id="dnn_ctr1346_ViewTrustees_rptTrustees_spanWardNumberName_21" class="TrusteeNumberName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardNumberName_21">Ward 22</span><br/>
                </div>

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_21">Scarborough East</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_21">416-397-3096</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_21" href="mailto:jerry.chadwick@tdsb.on.ca">jerry.chadwick@tdsb.on.ca</a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_21" alt="Jerry Chadwick High Resolution Photos" title="Jerry Chadwick High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward22_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        <br id="dnn_ctr1346_ViewTrustees_rptTrustees_breakControl_21" style="clear:both"></br>
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/StudentTrustee1" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_22"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward98_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_22" alt="Ramna  Safeer" title="Ramna  Safeer" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_22" class="TrusteeNameLink" href="/StudentTrustee1">Ramna  Safeer</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_22">Student Trustee</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_22">416-397-3491</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_22" href="mailto:Ramna.Safeer@tdsb.on.ca%20">Ramna.Safeer@tdsb.on.ca </a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_22" alt="Ramna  Safeer High Resolution Photos" title="Ramna  Safeer High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward98_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    
        
       
      </div>   
    
   <div class="TrusteeMainBox">     
        <div class="TrusteeInfo">
            <div class="TrusteeInfoImg">
                <a href="/StudentTrustee2" id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkLoRes_23"><img src="/Portals/0//The Board/Trustees/images/lo_res/ward99_LoRes.jpg" id="dnn_ctr1346_ViewTrustees_rptTrustees_imgLoRes_23" alt="Jesse Waugh" title="Jesse Waugh" /></a>
            </div>
            <div class="TrusteeInfoContact">
    	        <div class="TrusteeHeading">
                	<a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkName_23" class="TrusteeNameLink" href="/StudentTrustee2">Jesse Waugh</a>                
                </div>
                
             <!--   <div style="clear:both;"></div>  --> 
        		
                

                <div class="wardName">
                <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblWardName_23">Student Trustee</span><br/>
                </div>
                
                <div class="TrusteeContact">
                    Tel: <span id="dnn_ctr1346_ViewTrustees_rptTrustees_lblPhone_23">416-397-3491</span><br/>
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkEmail_23" href="mailto:Jesse.Waugh@tdsb.on.ca">Jesse.Waugh@tdsb.on.ca</a><br/>
                </div>
                
                <div class="TrusteeHiRes">
                    <a id="dnn_ctr1346_ViewTrustees_rptTrustees_lnkHiRes_23" alt="Jesse Waugh High Resolution Photos" title="Jesse Waugh High Resolution Photos" href="/Portals/0//The%20Board/Trustees/images/hi_res/ward99_HiRes.jpg" target="_blank">High Resolution Photo</a>
		        </div>
                 
            </div>
        </div>
    </body>
    </html>